<div class="jumbotron">
	<h1>About us</h1>
	<p>We're asked a lot, so here's a quick stab at answering the question "Why 4-Minute Nursing Hints?"<p>

	<p>	4-Minute Nursing Hints is dedicated for nurses who share a desire to be and do better. That's it. This project is dedicated to providing neatly focused exam hints for student nurses. I started this project with a well meaning intention to help current nursing students for their exams and to "scratch my own itch". I wish a project like this existed back when I was in nursing school. Who else will look out after each other but us fellow sapiens, which is even more soulful when it is us fellow nurses looking out for the less experienced fellow nurses. Screw that "nurses eat their young" bullshit.	<p>

	<p>Nursing school isn't the easiest. There are many strange cultures in the healthcare world, numerous failing students,  et cetera. We’re not here to preach, act righteous or smack people over their fancy head with an inspirational instagram-inspired-quotes. You may see an occasional adoring quote on this page, but by and large, that kind of stuff is boring, stale and, well, mostly just boring. Instead, we want to feature neatly focused exam hints and create ridiculous yet valuable information for the betterment of all nurses, which hopefully radiates to the betterment of our patients and the society.<p>

	<p>I guess our own definition of "ridiculous" is 90% valuable stuffs and 10% absurdity. The ratio may seem out of balance, but I genuinely think that, over time, it is a sustainable ratio for building ‘nice habits’ without burning people out. We don’t' want burnt out nurses. We hope to redefine the burning game of the nursing field and cut the bullshit. Extreme stress erodes people, people unconsciously become less compassionate, unwilling to help each other out, and aren't nicer to each other in an environment where soulful values are needed the most.<p>

	<p>Is there a right approach to building this project? Most definitely yes. Do I know what it is? No shit, I don't! I’m just trying to see how this goes while being so delightfully grateful to find people like you who chose a superb path in the nursing field. All I know is that being "nice" and providing value to as many people as possible is a good thing, and I’d like to help promote that really basic idea. Again, without alienating people by being overtly preachy about it.<p>

	<p>If you're already Florence Nightingale, Mother Theresa, or Gandhi, the 4-Minute Nursing Hints probably ain't for you (to even start, we curse way too fucking much homie!). The RN-C is for people who want to surround themselves with people who, like them, want to be nice and enjoy the magical journey as nurses… and often don't quite know how to go about it. We aren't the know-it-all geniuses. We are jerks, assholes, dreamers, lovers, cheaters, fighters, baristas, moms, dads, students, culture jammers, hackers, imitators, one percenters, no percenters, gurus and goddesses. Above all, what we are is real, honest, lying, conflicted, beautiful people who share desire to be and do better. <p>

	<p>The world can use more niceness mixed with a touch of ridiculousness. Sounds cheesy and simplistic, but I dig it. We can make amazing happen. Stay ridiculous -- to all you nurses of the past, the present, and the ever unfolding future.<p>

<div>