<div class="jumbotron">
	<h1>Disclaimer</h1>
	<h4>Please do not be stupid and ignore your actual college or university classes. It would make all of us equivalently unhappy. The materials inside this website are for review purposes only. As each individual situation is unique, you should use proper discretion, in consultation with appropriate professors, lectures, books, actual class resources, et cetera, before undertaking the techniques and review elements described inside this project. The author and publisher expressly disclaim responsibility for any adverse effects that may result from the use or application of the information contained in this website.<h4>
<div>