<div class="jumbotron">
	<h1>Don't drown in the details.</h1>
	<h1>Get the right exam hints.</h1>
	<h3>Click here to <%= link_to "Sign up", "http://fourminutenursing.com", class: "btn btn-primary btn-lg" %> <h3>
<div>