<div class="jumbotron center">
	<h1>Don't drown in the details.</h1>
	<h1>Get the right exam hints.</h1>
	<p>
		<%= link_to "Log in", "http://fourminutenursing.com", class: "btn btn-default btn-lg" %>
		<%= link_to "Sign up", "http://fourminutenursing.com", class: "btn btn-primary btn-lg" %>

	<p>
<div>